name: Build ZMK Firmware

on:
  push:
    branches: [main, master]
    paths:
      - "config/**"
      - "build.yaml"
      - ".github/workflows/build.yml"
  pull_request:
    branches: [main, master]
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      config_path: config
